/*
    2D Transform
      Translate
*/


.parent {
    width: 400px;
    height: 200px;
    background-color: #EEE;
    margin: 40px auto;
    position: relative;
}

.parent .child {
    width: 150px;
    height: 75px;
    background-color: #FF5722;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}translate