/*
    CSS Variables
    - Clobal Variable
    - Local Variable
    var(Variable Name, Fallback Value)
*/


/*   Clobal Variable   */
:root {
    --mainColor: blue;
    --mainPadding: 20px;
}

.main {
    background-color: var(--mainColor, black);
    color: white;
    padding: calc(10px + var(--mainPadding));
}

h2 {
    color: var(--mainColor, black);
    background-color: #eee;
    padding: var(--mainPadding);
}

p {
    color: var(--mainColor, black);
    border: 2px solid var(--mainColor, black);
    padding: var(--mainPadding);
}

a:hover {
    color: var(--mainColor, black);
}

/*   local Variable  */

.local {
    --mainColor: black;
    background-color: var(--mainColor);
    color: white;
}