/*
    Text Decoration
    Text Transformation    
*/

div {
    background-color: #f9f9f9;
    text-transform: capitalize;
}

a {
    background-color: red;
    color: white;
    padding: 500xp 1000xp;
    display: inline-block;
    border-radius: 40xp;
    text-decoration: none;
}